
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');


:root{

    --selectedMainColor: #136a8a;
    --selectedLightBlue: #267871;
    --selectedGreen: #00bf8f;
    --selectedBlack: #001510;


}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;
}

.elementsContainer{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background: #5c258d /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* }

aside {
    padding: 2rem;
    color: var(--selectedBlue);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    font-weight: 400;
    font-size: 3.3rem;
}

.footer-text{
    color: rgb(199, 199, 199);
    font-size: 0.85rem;
}

main{
    /* background: linear-gradient(to right, #e53935, #e35d5b); */
    /* background: linear-gradient(to right, #ee9ca7, #ffdde1);
    background: linear-gradient(to right, #2c3e50, #3498db);  */


    /* margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 2rem;

} */

/* .main-title{
    color: var(--selectedBlack);
    margin-bottom: 2rem;

}

.products-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.product-image{
    max-width: 100%;
    border-radius: 1rem;

}

.product-details{
    background-color: #00bf8f;
    color: var(--selectedBlack);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.product-name{
    font-size: 1rem;
} */

/* .add-product{
    border: 0;
    background: linear-gradient(to right, #e53935, #e35d5b);
    color: var(--selectedBlue);
    padding: 0.5rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--selectedLightBlue);
}

.add-product:hover{
    background-color: var(--selectedGreen);
    color: var(--selectedBlack);
}  */


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    /* --clr-main: #D84343 ; */
    --clr-main:  #000004;
    --clr-main-light: #FF495C;
    --clr-white:#7E1946;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.elementsContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-weight: 400;
    font-size: 1.3rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.menuButton {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}

.menuButton.active {
    background-color: var(--clr-white);
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.menuButton.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.menuButton.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
}

.menuButton > i.bi-hand-index-thumb-fill,
.menuButton > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

.cartButton {
    margin-top: 2rem;
}

.numberCart {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.cartButton.active .numberCart {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.footer-text {
    color: var(--clr-main-light);
    font-size: .85rem;
}

main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.main-title {
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.product-image {
    max-width: 100%;
    border-radius: 1rem;
}

.product-details {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.product-name {
    font-size: 1rem;
}

.add-product {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.add-product:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}


/** CARRITO **/

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.cart-empty,
.cart-bought {
    color: var(--clr-main);
}

.cart-products {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}


/*-------------------------Still don't know when the class '.carrito-producto-imagen' is used */

.cart-product-picture {
    width: 4rem;
    border-radius: 1rem;
}

.cart-product small {
    font-size: .75rem;
}

.cart-product-delete {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.cart-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
}

.cart-empty {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.cart-right {
    display: flex;
}

.cart-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.cart-buy {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}

/*** MEDIA QUERIES ***/

@media screen and (max-width: 850px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 675px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {

    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: var(--clr-gray);
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: var(--clr-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    

}



@media screen and (max-width: 400px) {
    .contenedor-productos {
        grid-template-columns: 1fr;
    }}